{{#if logged_in}}
    <div>
        <a href="/post"> <button type="button" class="btn btn-outline-primary btn-lg">Make a post</button></a>
    </div>
{{else}}
    <div>
        <button type="button" class="btn btn-primary btn-lg" disabled>Make a post</button>
    </div>
    <br>
    <div class="alert alert-danger " role="alert">
        You need to sign in or have a account to make a post!
    </div>
{{/if}}

<br>


{{#each posts}}

<div class="card">
  <div class="card-header">
    {{title}}
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p> {{post}}.</p>
      <footer class="blockquote-footer">Post made by: <cite title="Source Title">{{user_id}} </cite></footer>
      <a href="#" class="btn btn-primary">View Post</a>
    </blockquote>  
  </div>
</div>
<br>

{{/each}}




{{!-- <div class="card">
  <div class="card-header">
    Admin Post
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>You can start post when you login &#128516; .</p>
      <footer class="blockquote-footer">Post made by: <cite title="Source Title">Aditya</cite></footer>
      <a href="#" class="btn btn-primary">View Post</a>
    </blockquote>  
  </div>
</div> --}}