<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Title</label>
  <input class="form-control" id="exampleFormControlInput1" placeholder="Title Post">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Post</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>