<form class="new-post-form">
    <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Title</label>
    <input class="form-control" id="post-title" placeholder="Title Post">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Post</label>
    <textarea class="form-control" id="post-text" rows="3"></textarea>
  </div>

  <button type="submit" class="btn btn-primary btn-lg">Post</button>
</form>
<script src="./js/addPost.js"></script>