<div class="row">
  <div class="col-md-6" id="signup-container">
    
    <h2 class="signup-headers">Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup" id="sign-up-name">Name</label>
        <input type="text" class="form-control" id="name-signup" placeholder="Enter name">
      </div>

        <br>

      <div class="form-group">
        <label for="email-signup" id="sign-up-email">Email address</label>
        <input type="email" class="form-control" id="email-signup" aria-describedby="emailHelp" placeholder="Enter email">
      </div>

        <br>

      <div class="form-group">
        <label for="password-signup" id="sign-up-password">Password</label>
        <input type="password" class="form-control" id="password-signup" placeholder="Enter Password">
      </div>

      <br>

      <div class="form-group">
        <label for="username-signup" id="sign-up-username">Username</label>
        <input type="text" class="form-control" id="username-signup" placeholder=" Enter Username">
      </div>
      <br>
      <button type="submit" class="btn btn-primary" id="signup-btn">Sign Up</button>

    </form>
  </div>
</div>

<script src="./js/signup.js"></script>
<script src="https://unpkg.com/validator@latest/validator.min.js"></script>